[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"

dependencies = [
  "alembic>=1.18.3",
  "fastapi>=0.111.0",
  "uvicorn[standard]>=0.29.0",
]
